body {
    background: #ededed;
    padding: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchLine {
    background: #fff;
    border-radius: 5px;
}

.searchInput {
    width: 350px;
    height: 25px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 5px #e4e4e4;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

.requestsBox {
    /* padding: 5px 10px; */
    margin: 0;
    display: none;
    max-width: 370px;
}

.active {
    padding: 5px 10px;
    display: block;
}

.request {
    padding: 5px 10px;
    list-style: none;
    border-radius: 3px;
    overflow: hidden;
}

.request:hover {
    background: #f8f7f7;
}

.main {
    margin-top: 20px;
}

.card {
    background: #e2b9f0;
    width: 350px;
    padding: 10px 20px;
    border-radius: 3px;
    white-space: pre-line;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.btnDelete {
    width: 40px;
    height: 40px;
    background: url('img/Vector\ 7.svg') no-repeat,
                url('img/Vector\ 8.svg') no-repeat;
    background-size: 100% 100%;
    border: none;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; right: 20px;
}